

@{
    ViewData["Title"] = "Главная страница";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<body>
<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p style="font-size: 25px"> LyricSense - это новый сервис по поиску песен по отрывку текста</p>
    <br />
    
<form asp-controller="Home" asp-action="SearchResult" method="get">
        <label for="lyricsearch" style="font-size: 20px">Введите отрывок из песни:</label>
        <div style="display: flex; align-items: center;">
            <input type="search" id="lyricsearch" name="searchString" style="width: 100%; margin-right: 8px"/>
            <input type="submit" value="Поиск" />
        </div>
</form>

</div>
</body>

